.title{
    color: #0EB48D;
}

div.overview{
    margin-bottom: .5em;
}
div.tips{
    margin-top: 1em;
    margin-bottom: .5em;
}
div.disclaimer{
    margin-top: .85em;
}
.ic{
    font-size: 1.8em;
}

