<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center title"><b>Filters</b></ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon class="ic" name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row class="ion-justify-content-start">
      <ion-col size="3">
        <ion-button size="small" shape="round">
          Age 18+
        </ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button size="small" shape="round">
          Age 45+
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-start">
      <ion-col size="3">
        <ion-button size="small" shape="round">
          Covaxin
        </ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button size="small" shape="round">
          Covishield
        </ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button size="small" shape="round">
          Sputnik
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-start">
      <ion-col size="3">
        <ion-button size="small" shape="round">
          Dose 1
        </ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button size="small" shape="round">
          Dose 2
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-start">
      <ion-col size="3">
        <ion-button size="small" shape="round">
          Free
        </ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button size="small" shape="round">
          Paid
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
