// * {
//     box-sizing: border-box;
// }
#title {
    color: #FFFFFF;
    display: inline-block;
  }
  
  #avatar {
    width: 40px;
    height: 40px;
    display: inline-block;
  }
  
  #toolbar-box {
    background-color: #0eb48d;
  }

  .three-buttons{
     font-size: .7em;
  }
  .btn-1-3{
      font-size: .7em;
    // margin-left: 10px;
    // margin-right: 10px;
  }
.btn-grouping{
margin-left: 15px;
margin-right: 15px;
}
.links{
  text-decoration: none;
}
.listing-item{
  font-size: .8em;
}
.inline-rows{
  margin-top: -.5em;
}
ion-badge{
  padding: .1em;
  margin-right: 1em;
}
.header{
  background-color: #E5EAEE;
}
// .box{
//   height: 60vh;
//   overflow-y: auto;
// }

.fixed-top{
  background-color: #FFFFFF;
  position: -webkit-sticky;
  position: sticky;
  top: -20px;
  z-index: 100000;
}